.accordion__item__content, .welcome__button, .navigation__link a, footer a, .logo, .button {
  transition: all 0.3s ease-out;
}

.adresses__button, .button, body {
  font-family: "Inika", sans-serif;
}

.adresses__content, .adresses__title, .drop-down__content__item, .drop-down__title, .prices__help__title, .accordion__item__content, .accordion__item__button, .prices__title, .card__content, .about__text, .welcome__button, .welcome__text, footer, h1 {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 700;
  font-style: normal;
  color: #717171;
}
h1 span {
  color: #499A18;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
    line-height: 5rem;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 460px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    font-style: normal;
  }
}

h2 {
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 400;
  font-style: normal;
  color: #499A18;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3.5rem;
    line-height: 4.6rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 460px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.3rem;
    font-weight: 400;
    font-style: normal;
  }
}

.button {
  width: 161px;
  height: 50px;
  color: #E06733;
  background-color: #EDF2EC;
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #E06733;
  border-radius: 5px;
  cursor: pointer;
}
@media (min-width: 769px) {
  .button:hover {
    background-color: #E06733;
    color: #fff;
  }
}
.button:active {
  background-color: #499A18;
  border-color: #499A18;
  color: #fff;
}
@media (max-width: 460px) {
  .button {
    width: 121px;
    height: 35px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
  }
}
.button_active {
  background-color: #E06733;
  color: #fff;
}
.button_disabled {
  background-color: #626060;
  border-color: #626060;
  pointer-events: none;
  color: #fff;
}

.logo {
  display: flex;
  color: #000;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
@media (min-width: 769px) {
  .logo:hover {
    color: #E06733;
  }
}
.logo:active {
  color: #499A18;
}
.logo img {
  width: 22px;
  height: 22px;
  margin-top: -5px;
}

.hamburger__line, .hamburger_active::after, .hamburger_active::before, .hamburger::after, .hamburger::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #717171;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 26px;
}
@media (max-width: 570px) {
  .hamburger {
    display: inline-flex;
    z-index: 1;
  }
}
.hamburger_active .hamburger__line {
  transform: scale(0);
}
.hamburger_active::before {
  background-color: #fff;
  transform: translateY(12px) rotate(45deg);
}
.hamburger_active::after {
  background-color: #fff;
  transform: translateY(-12px) rotate(-45deg);
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}
@media (max-width: 1222px) {
  .wrapper {
    padding: 0 60px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0px 50px;
  }
}
@media (max-width: 460px) {
  .wrapper {
    padding: 0px 25px;
  }
}

.header {
  background: #EDF2EC;
  padding: 42px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .header {
    padding: 36px 0;
  }
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.layout-3-column > * {
  flex-basis: 27%;
}
@media (max-width: 460px) {
  .layout-3-column {
    justify-content: center;
  }
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.layout-2-column > * {
  flex-basis: 38%;
}
@media (max-width: 460px) {
  .layout-2-column {
    justify-content: center;
  }
}

footer {
  padding: 40px 0;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
}
footer a {
  color: #000;
  text-decoration: none;
}
footer a:hover {
  color: #E06733;
}
footer a:active {
  color: #499A18;
}
@media (max-width: 768px) {
  footer {
    padding: 32.51px 0 27px;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 460px) {
  footer {
    padding: 22px 0 18.68px;
  }
}

.footer__wrapper {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer__year {
  display: flex;
}
.footer__year p {
  padding-left: 20px;
}
.footer__year p:first-child {
  padding-left: 0px;
}

.footer__center {
  padding-left: 18px;
}
@media (max-width: 768px) {
  .footer__center {
    padding: 16px 0;
  }
}

.footer__social {
  width: 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.footer__social li {
  height: 32px;
}
.footer__social img {
  width: 32px;
  height: 32px;
}
@media (max-width: 768px) {
  .footer__social {
    padding-top: 10px;
  }
  .footer__social img {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 460px) {
  .footer__social {
    padding-top: 0px;
  }
}

.navigation__body_active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  overflow: auto;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 452px;
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s ease;
}
@media (max-width: 570px) {
  .navigation__list {
    display: block;
    transform: translateY(-285px);
    font-size: 1.8rem;
    line-height: 5rem;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    padding: 10px 0 10px 50px;
    box-shadow: -4px 4px 15px #2a5a0d;
    border-radius: 20px;
    background-color: #6cc336;
  }
}
.navigation__list_active {
  transform: translateY(0);
}

.navigation__link {
  list-style: none;
}
.navigation__link a {
  color: #010201;
  text-decoration: none;
}
.navigation__link a:hover {
  color: #E06733;
}
.navigation__link a:active {
  color: #499A18;
}
@media (max-width: 570px) {
  .navigation__link a {
    color: #fff;
  }
  .navigation__link a:active {
    color: #E06733;
  }
}

.welcome {
  background: #EDF2EC;
  padding: 62px 0 62.64px 0;
}
@media (max-width: 768px) {
  .welcome {
    padding: 37px 0 70px 0;
  }
}
@media (max-width: 460px) {
  .welcome {
    padding: 24px 0;
  }
}

.welcome__wrapper {
  display: flex;
}

.welcome__img {
  width: 448.8px;
  height: 407.36px;
}
@media (max-width: 768px) {
  .welcome__img {
    order: 2;
    width: 280px;
    height: 254.15px;
  }
}
@media (max-width: 530px) {
  .welcome__img {
    display: none;
  }
}
@media (max-width: 460px) {
  .welcome__img {
    display: none;
  }
}

.welcome__content {
  padding-top: 36px;
  padding-left: 229px;
}
@media (max-width: 1222px) {
  .welcome__content {
    padding: 20px 0 0;
  }
}
@media (max-width: 768px) {
  .welcome__content {
    padding: 0 47px 0 0;
  }
}
@media (max-width: 460px) {
  .welcome__content {
    padding: 0;
  }
}

.welcome__text {
  color: #636060;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
  max-width: 525.44px;
  margin: 44px 0 46px 0;
}
@media (max-width: 768px) {
  .welcome__text {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-style: normal;
    margin: 30px 0 34px;
  }
}
@media (max-width: 460px) {
  .welcome__text {
    margin: 20.36px 0 25px 0;
  }
}

.welcome__button {
  width: 158px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E06733;
  border-radius: 10px;
  background: #EDF2EC;
  color: #000;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
@media (min-width: 769px) {
  .welcome__button:hover {
    background-color: #E06733;
    color: #fff;
  }
}
.welcome__button:active {
  background-color: #499A18;
  border-color: #499A18;
  color: #fff;
}
@media (max-width: 460px) {
  .welcome__button {
    width: 100px;
    height: 34.14px;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
  }
}

.about {
  padding: 93px 0 94px;
}
@media (max-width: 768px) {
  .about {
    padding: 40px 0 95px;
  }
}
@media (max-width: 460px) {
  .about {
    padding: 30px 0 31px;
  }
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1222px) {
  .about__img {
    margin: 40px auto 0px;
  }
}
@media (max-width: 768px) {
  .about__img {
    width: 250px;
    height: 258px;
  }
}
@media (max-width: 460px) {
  .about__img {
    width: 150px;
    height: 147px;
    margin-top: 0px;
  }
}

.about__title {
  max-width: 463px;
  margin-bottom: 40px;
  padding-top: 68px;
}
.about__title span {
  color: #E06733;
}
@media (max-width: 1222px) {
  .about__title {
    margin: 0px auto 50px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .about__title {
    padding-top: 0px;
  }
}
@media (max-width: 460px) {
  .about__title {
    margin-bottom: 16px;
  }
}

.about__text {
  max-width: 605px;
  color: #636060;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  .about__text {
    max-width: 668px;
    min-height: 208px;
  }
}
@media (max-width: 460px) {
  .about__text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-style: normal;
  }
}

.service {
  background-color: #EDF2EC;
  padding: 40px 0 121px;
}
@media (max-width: 768px) {
  .service {
    padding: 60px 0 70px;
  }
}
@media (max-width: 460px) {
  .service {
    padding: 30px 0 27px;
  }
}

.service__header {
  max-width: 1007px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
@media (max-width: 1222px) {
  .service__header {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .service__header {
    align-items: flex-start;
    margin-bottom: 2px;
  }
}
@media (max-width: 460px) {
  .service__header {
    margin-bottom: 6px;
  }
}

.service__title {
  max-width: 306px;
}
@media (max-width: 460px) {
  .service__title {
    max-width: 187px;
  }
}

.service__buttons {
  display: flex;
  flex-wrap: wrap;
}
.service__buttons .service__button {
  margin-left: 38px;
}
.service__buttons .service__button:first-child {
  margin-left: 0;
}
@media (max-width: 460px) {
  .service__buttons .service__button {
    margin: 0;
    margin-right: 10px;
  }
  .service__buttons .service__button:last-child {
    margin-top: 9px;
  }
}
@media (max-width: 768px) {
  .service__buttons {
    margin-top: 42px;
  }
}
@media (max-width: 460px) {
  .service__buttons {
    margin-top: 40px;
  }
}

.service__main {
  min-height: 955px;
}
@media (max-width: 460px) {
  .service__main {
    justify-content: center;
  }
}

.service__card {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .service__card {
    margin-top: 36px;
  }
}
@media (max-width: 460px) {
  .service__card {
    margin-top: 32px;
  }
}
.service__card_garden {
  filter: blur(0px);
}
.service__card_lawn {
  filter: blur(0px);
}
.service__card_planting {
  filter: blur(0px);
}

.blur {
  filter: blur(5px);
  transition: all 0.5s ease;
}

.card__img {
  width: 329px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
@media (max-width: 768px) {
  .card__img {
    width: 280px;
    height: 350px;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}

.card__title {
  color: #E06733;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  margin: 10px 0;
}

.card__text {
  color: #717171;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 36px;
}
@media (max-width: 768px) {
  .card__text {
    margin-bottom: 20px;
    max-width: 203px;
    text-align: center;
  }
}

.prices {
  padding: 40px 0 0px;
}
@media (max-width: 460px) {
  .prices {
    padding: 25px 0 0px;
  }
}

.prices__title {
  color: #000;
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .prices__title {
    font-size: 3.5rem;
    line-height: 4.2rem;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 50px;
    height: 49px;
    width: 135px;
    text-align: center;
  }
}
@media (max-width: 460px) {
  .prices__title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    font-style: normal;
    margin: 0 auto 40px;
    height: 27px;
  }
}

.prices__accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 332px;
  min-height: 282.01px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
@media (max-width: 460px) {
  .prices__accordion {
    width: 224px;
    min-height: 235px;
    margin: 0 auto;
    padding: 10px;
  }
}

.accordion__item {
  margin: 16px 0;
}
@media (max-width: 460px) {
  .accordion__item {
    width: 180px;
    margin-top: 13.92px;
    margin-bottom: 0;
  }
  .accordion__item:first-child {
    margin-top: 0;
  }
}

.accordion__item__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #EDF2EC;
}
.accordion__item__button .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #D9D9D9;
}
.accordion__item__button .arrow span {
  background-image: url(../img/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 5px;
  height: 5px;
}
.accordion__item__button-active {
  border-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #D6E7D2;
}
.accordion__item__button-active .arrow {
  background: #AEA1A1;
}
.accordion__item__button-active .arrow span {
  background-image: url(../img/svg/arrowactive.svg);
}
@media (max-width: 460px) {
  .accordion__item__button {
    width: 180px;
    height: 49.72px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
    padding: 0 40px 0 30px;
  }
}

.accordion__item__content {
  max-height: 0;
  width: 250px;
  padding: 0 20px;
  overflow: hidden;
  background-color: #D6E7D2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.accordion__item__content__text {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;
  font-style: normal;
  color: #717171;
  padding-top: 6px;
  border-top: 0.5px solid #AEA1A1;
}
.accordion__item__content__price {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  margin: 6px 0 8px 0;
}
.accordion__item__content__price span {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  color: #E06733;
}
.accordion__item__content__button {
  width: 86px;
  height: 25px;
  border: none;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  margin-bottom: 12px;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  color: #717171;
}
.accordion__item__content__button a {
  text-decoration: none;
  color: #717171;
}
@media (min-width: 768px) {
  .accordion__item__content__button:hover {
    background-color: #E06733;
  }
  .accordion__item__content__button:hover a {
    color: #fff;
  }
}
.accordion__item__content__button:active {
  background-color: #499A18;
}
@media (max-width: 460px) {
  .accordion__item__content {
    width: 180px;
  }
}

.prices__help {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 115px;
}
@media (max-width: 768px) {
  .prices__help {
    padding-top: 99px;
    padding-bottom: 87px;
  }
}
@media (max-width: 460px) {
  .prices__help {
    padding-top: 19px;
    padding-bottom: 40px;
    align-items: center;
  }
}

.prices__help__title {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  transition: all 0.3s;
}
.prices__help__title span {
  color: #499A18;
}
@media (max-width: 768px) {
  .prices__help__title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    font-style: normal;
    width: 296px;
  }
}
@media (max-width: 460px) {
  .prices__help__title {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    width: 230px;
    height: 77px;
  }
}

.prices__help__button {
  background-color: #fff;
  font-weight: 700;
  margin: 38px 0 39px;
}
@media (max-width: 768px) {
  .prices__help__button {
    margin: 30px 0 34px;
  }
}
@media (max-width: 460px) {
  .prices__help__button {
    margin: 14px 0 0;
  }
}

.prices__help__img {
  width: 152px;
  height: 174.99px;
}
@media (max-width: 460px) {
  .prices__help__img {
    display: none;
  }
}

.contact-us {
  background-color: #EDF2EC;
  padding-top: 53px;
}
@media (max-width: 768px) {
  .contact-us {
    padding-top: 40px;
  }
}
@media (max-width: 460px) {
  .contact-us {
    padding-top: 25px;
  }
}

.contact-us__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1222px) {
  .contact-us__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.contact-us__title {
  font-weight: 700;
  padding-top: 7px;
  padding-left: 46px;
}
@media (max-width: 768px) {
  .contact-us__title {
    padding: 0;
    font-size: 4rem;
    line-height: 5.2rem;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 460px) {
  .contact-us__title {
    font-size: 2.5rem;
    line-height: 3.3rem;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 1222px) {
  .contact-us__img {
    order: 2;
    width: 400px;
    height: 496.99px;
  }
}
@media (max-width: 768px) {
  .contact-us__img {
    margin-top: 15px;
    width: 200px;
    height: 248.49px;
  }
}
@media (max-width: 460px) {
  .contact-us__img {
    margin-top: 0px;
    width: 100px;
    height: 124.25px;
  }
}

.contact-us__drop-down {
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px 0 20px;
  margin-top: 95px;
  margin-bottom: 235px;
  cursor: pointer;
}
.contact-us__drop-down_active {
  background: #C1E698;
  border: 1px solid #D6E7D2;
  box-shadow: none;
  margin-bottom: 0px;
}
.contact-us__drop-down_active .drop-down__arrow {
  background: #8BA07E;
}
.contact-us__drop-down_active .drop-down__arrow img {
  transform: none;
}
@media (max-width: 768px) {
  .contact-us__drop-down {
    margin-top: 100px;
  }
  .contact-us__drop-down_active {
    margin-top: 60px;
  }
}
@media (max-width: 530px) {
  .contact-us__drop-down {
    width: 300px;
    height: 50px;
  }
}
@media (max-width: 460px) {
  .contact-us__drop-down {
    margin-top: 80px;
    margin-bottom: 132px;
    padding: 0 20px;
  }
  .contact-us__drop-down_active {
    margin-top: 42px;
    margin-bottom: 0px;
  }
}

.drop-down__title {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  color: #717171;
  letter-spacing: 0.05em;
}

.drop-down__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #AEA1A1;
}
.drop-down__arrow img {
  width: 8px;
  transform: rotate(180deg);
}

.contact-us__drop-down__content {
  width: 450px;
  height: 234px;
  background: #DCE9D9;
  padding: 0px 35px 31px;
  display: none;
}
@media (max-width: 768px) {
  .contact-us__drop-down__content {
    margin-bottom: 41px;
  }
}
@media (max-width: 530px) {
  .contact-us__drop-down__content {
    width: 300px;
  }
}
@media (max-width: 460px) {
  .contact-us__drop-down__content {
    margin-bottom: 61px;
  }
}

.drop-down__content__item {
  color: #499A18;
  font-size: 1.6rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #D9D9D9;
  padding-top: 12px;
  padding-left: 6px;
  cursor: pointer;
}
.drop-down__content__item:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
}

.drop-down__adresses {
  width: 448px;
  height: 214px;
  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-top: 47px;
  padding: 17px 76px 32px 35px;
  display: none;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .drop-down__adresses {
    margin-top: 61px;
  }
}
@media (max-width: 530px) {
  .drop-down__adresses {
    width: 282px;
    height: 212px;
    padding: 23px 36px;
    margin: 49px auto 14px;
  }
}
@media (max-width: 460px) {
  .drop-down__adresses {
    margin: 49px auto 34px;
  }
}

.adresses_active {
  display: flex;
}

.adresses__title {
  font-size: 1.6rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 530px) {
  .adresses__title {
    width: 64.69px;
  }
  .adresses__title .office {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
  }
}

.adresses__content {
  color: #717171;
  font-size: 1.6rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  padding-left: 26px;
}
@media (max-width: 530px) {
  .adresses__content {
    padding-left: 0px;
    width: 140px;
  }
  .adresses__content .office_adress {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
  }
}

.adresses__button {
  width: 122px;
  height: 26px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 700;
  font-style: normal;
  color: #717171;
  background: #EDF2EC;
  cursor: pointer;
  margin-left: 127px;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .adresses__button:hover {
    background-color: #E06733;
    color: #fff;
  }
}
.adresses__button:active {
  background-color: #499A18;
  border-color: #499A18;
}
@media (max-width: 530px) {
  .adresses__button {
    margin-left: 50px;
    margin-top: 17px;
  }
}/*# sourceMappingURL=style.css.map */