footer {
  padding: 40px 0;
  @extend %font-second;
  @include font(2rem, 5rem);

  a {
    color: #000;
    text-decoration: none;
    @extend %transition;

    &:hover {
      color: $color-additional;
    }

    &:active {
      color: $color-main;
    }
  }

  @include media-tablet {
    padding: 32.51px 0 27px;
    @include font(2rem, 2.4rem);
  }

  @include media-mobile {
    padding: 22px 0 18.68px;
  }
}

.footer__wrapper {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-tablet {
    flex-direction: column;
  }
}

.footer__year {
  display: flex;

  p {
    padding-left: 20px;

    &:first-child {
      padding-left: 0px;
    }
  }
}

.footer__center {
  padding-left: 18px;

  @include media-tablet {
    padding: 16px 0;
  }
}

.footer__social {
  width: 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

  li {
    height: 32px;
  }

  img {
    width: 32px;
    height: 32px;
  }

  @include media-tablet {
    padding-top: 10px;

    img {
      width: 28px;
      height: 28px;
    }
  }

  @include media-mobile {
    padding-top: 0px;
  }
}