.header {
  background: $color-background;
  padding: 52px 0 62px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
    height: 20px;
  }
}