.navigation {
  display: flex;
  @include font(1.6rem, 5.0rem);
}

.navigation__link {
  list-style: none;
  padding: 0 23px;

  a {
    @extend %transition;
    color: $color-link-nav;
    text-decoration: none;

    &:hover {
      color: $color-additional;
    }

    &:active {
      color: $color-main;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}