.navigation {
  display: flex;
  justify-content: space-between;
  @include font(1.6rem, 5.0rem);
  width: 452px;
}

.navigation__link {
  list-style: none;

  a {
    @extend %transition;
    color: $color-link-nav;
    text-decoration: none;

    &:hover {
      color: $color-additional;
    }

    &:active {
      color: $color-main;
    }
  }
}