.button {
  width: 161px;
  height: 50px;
  color: $color-additional;
  background-color: $color-background;
  @extend %font-first;
  @include font(2rem, 2.6rem);
  border: 1px solid $color-additional;
  border-radius: 5px;
  cursor: pointer;
  @extend %transition;

  &:hover {
    background-color: $color-additional;
    color: #fff;
  }

  &:active {
    background-color: $color-main;
    border-color: $color-main;
  }

  @include media-mobile {
    width: 121px;
    height: 35px;
    @include font(1.5rem, 2rem);
  }
}